/*http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }
/*v2.0 over*/


html, body
{
	width:100%; height:100%; overflow:hidden;
	position:absolute; top:0; left:0;
	background-size:cover; background-position:center;
}
#container
{
	width:auto;  height:100%;
	background-image:url("../image/bg.jpg");
	background-position: center 100%;
	background-size: auto 100%;
	overflow:hidden;
}
#form
{
	width: 100%; height:6em;
	position: absolute; top: 56%; left: 0;
}
#text
{
	font-size: 0.9em;
	width: 60%; height: 3em; padding-left: 1em;
	position: absolute; top: 0%; left:20%;
	border: 2px solid #f8ba38; border-radius: 10px/8px;
	box-shadow: 0 0 10px #f8ba38;
	-webkit-appearance: none ;
	appearance: none ;	
}
#text::-webkit-input-placeholder
{
	color:#dab866;
	text-align: center;
}
#submit
{
	width: 40%; height: 2.4em;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../image/btn.png");
	position: absolute; bottom: 0; left: 30%;
}
#mat, #redpack
{
	width:100%;  height:100%;
	background-position: center 100%;
	background-size: auto 100%;
	position: absolute; top:0; left:0;
}
#mat
{
	background-image:url("../image/mat.png");
}
#redpack
{
	background-image:url("../image/redpack.png");
}
#resultMat
{
	width:100%;  height:100%;
	background-position: center 100%;
	background-size: auto 100%;
	position: absolute; top:0; left:0;
	background-image:url("../image/resultMat.png");
	display: none;
}
#resultMat p
{
	width: 100%;
	position: absolute; top: 46%; left: 0;
	text-align: center;
}
#statement
{
	width:auto;  height:100%;
	position: absolute; top: 0; left: 0;
}
#statement p
{
	font-size: 0.9em;
	width: 100%;
	position: absolute; bottom: 4%; left: 0;
	text-align: center; color: #e60012;
}